@model DoanRapphim.Areas.Admin.Models.BinhLuanModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BinhLuanModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiDung.TaiKhoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phim.TenPhim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
